snippet restate "React useState hook" b
const [$1, set${1/\w+/${0:/capitalize}/}] = useState($2);
endsnippet

snippet int "interface"
interface ${1} {
	$0
}
endsnippet

snippet fun "function (named)" b
const ${1:function_name} = (${2:argument}) => {
	${VISUAL}$0
}
endsnippet

snippet rfc "react functional component"
interface ${1:function_name}Props {
	${3:props_types}
}

export const ${1:function_name} = (${2:props}: ${1:function_name}Props) => {
	return ${4:function_body}
}
endsnippet
